{% extends "cryptofolio/layout.html" %}
{% load static %}

{% block title %}
Title
{% endblock %}

{% block body %}



<div class="row">
    <div class="col-3">
      
        <form>
            <input id="search_value" placeholder = "Coin name" type="text">
            <input id="submit_search" type="submit" value="Search">
        </form>

        <ul id="coin_list">
            
        </ul>

    </div>

    <div class="col-9">
        <div class="row">
            <div class="col-6">
                <h2>Graph</h2>
            </div>

            <div class="col-6">
                <h2>General info</h2>
                <ul>
                    <li id="coin_info_name"></li>
                    <li id="coin_info_ticker"></li>
                    <li id="coin_info_price"></li>
                    <li id="coin_info_marketcap"></li>
                    <li id="coin_info_atl"></li>
                    <li id="coin_info_ath"></li>
                </ul>
            </div>

            <div class="col-6">
                <h2>Social Media</h2>
                <div class="row">
                    <div class="col-6">
                        <h3>Twitter</h3>
                    </div>

                    <div class="col-6">
                        <h3>Telegram</h3>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <h2>Google trends</h2>
            </div>
        </div>
    </div>
</div>


<!-- LOGIN FIELD -->
{% if message_login %}
    <div id="loginfield" class="frontfield" style="display: block">
        {{ message_login }}
{% else %}
    <div id="loginfield" class="frontfield" style="display: none">
{% endif %}
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input id="login_password_field" class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input id="login_field_button" class="btn btn-primary" type="submit" value="Login">
        </form>
        <p> Don't have an account? Register <span id="register">here</span>. </p>
        
        <input class="btn btn-primary close_field" type="submit" value="close">
    </div>

<!-- REGISTER -->
{% if message_register %}
    <div id="registerfield" class="frontfield" style="display: block">
        {{ message_register }}
{% else %}
    <div id="registerfield" class="frontfield" style="display: none">
{% endif %}
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input id="register_password_field" class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input id="register_field_button" class="btn btn-primary" type="submit" value="Register">
        </form>
        <p> Already have an account? Log In <span class="login">here</span>. </p>
        
        <input class="btn btn-primary close_field" type="submit" value="close">
    </div>








{% endblock %}

{% block script %}
    <script src="{% static 'index.js' %}"></script>
{% endblock %}
