{% extends "cryptofolio/layout.html" %}
{% load static %}

{% block title %}

{% endblock %}

{% block body %}

<!-- SEARCH  -->

<div class="row">
    <div class="col-3" id="left_sidebar">
        <h2>Search</h2>
        <div id="search_block" class="d-flex align-items-center">
            <input id="search_value" placeholder = "Coin name" type="text">
            <input id="submit_search" type="submit" value="Search" class="btn btn-sm btn-info">
        </div>
          

<!-- TRENDING  -->
        <h2>Trending</h2>
        <div id="trending_coins"> </div>
        
        <div id="user_portfolio_overview">
<!-- PORTFOLIO COINS -->
            <h2>Portfolio</h2>
            <div class="row" id="portfolio_overview_table">
                <div class="col-3">
                    <p id="portfolio_overview_table_header">Coin</p>
                    {% for coin in user_portfolio %}
                    <div>
                        <button class="btn btn-sm btn-info portfolio_coin" onClick="coin_info('{{coin.coin_name}}')" >{{ coin.coin_name }}</button>
                    </div>
                    {%  endfor %}
                </div>
    
                <div class="col-3">
                    <ul class="portfolio_coin_amount_list">
                        <p id="portfolio_overview_table_header">Amount</p>
                        {% for coin in user_holdings_amount %}
                        <li class="portfolio_coin_amount">
                            {{ coin }}
                        </li>
                        {%  endfor %}
                    </ul>
                </div>
                
                <div class="col-3">
                    <p id="portfolio_overview_table_header">Value $</p>
                    <ul class="portfolio_price_list"> </ul>
                </div>
    
                <div class="col-3">
                    <p id="portfolio_overview_table_header">Total $</p>
                    <ul class="portfolio_total_value_list"> </ul>
                </div>
            </div>
    
<!-- PORTFOLIO DATA / CHART -->
            <div id="portfolio_chart_data">
                <h2>Portfolio Info</h2> 
                <p id="total_portfolio_value">None</p> 
    
                <h2>Portfolio history chart</h2>
                
                <div id="portfolio_chart" style="height: 350px;"> </div>
                <div id="portfolio_chart_timeframe_buttons"> </div>
            </div>
                
<!-- TRADE HISTORY  -->
            <h2>Trade history</h2>
            <div id="trade_history_block">
                <div class="row">
                    <div class="col-3 trade_history_collumn">
                        <p id="trade_history_header">Coin</p>
                        <ul id="trade_history_coin_name"> </ul>
                    </div>
                    <div class="col-3 trade_history_collumn">
                        <p id="trade_history_header">Price</p>
                        <ul id="trade_history_price"> </ul>
                    </div> 
                    <div class="col-3 trade_history_collumn">
                        <p id="trade_history_header">Amount</p>
                        <ul id="trade_history_amount"> </ul>
                    </div> 
                    <div class="col-3 trade_history_collumn">
                        <p id="trade_history_header">Date</p>
                        <ul id="trade_history_time"> </ul>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    
<!-- COIN CHART  -->
    <div class="col-9" id="right_sidebar">
        <div class="row">
            <div class="col text-center" id="coin_chart_block">

                <h4 id="coin_chart_timeframe_header"></h4>

                <div id="coin_chart">
                    <p>coin chart</p>
                </div>
                <div id="coin_chart_timeframe_buttons"> </div>
            </div>
        
<!-- GENERAL INFO  -->
            <div class="col-5" id="coin_data_block">
                <div class="d-flex justify-content-start">
                    <h3>General info</h3> 
                    <button id="add_trade" class="btn btn-sm btn-info ">Add trade</button>
                
                    <!-- Delete / Add coin to portfolio  -->
                    <form action="{% url 'index' %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-sm btn-info" value="" id="portfolio_button" name="addportfolio">Add to portfolio</button>
                    </form>
                </div>
                <!-- image  -->
                <div id="coin_image_div">
                    <img id="coin_image">
                </div>

                <div class="row">
                    <div class="col-4">
                        <ul id="coin_info_heads">
                            <li>Name:</li>
                            <li>Ticker:</li>
                            <li>Price:</li>
                            <li>Market cap:</li>
                            <li>All-time high:</li>
                            <li>All-time low:</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul>
                            <li id="coin_info_name"></li>
                            <li id="coin_info_ticker"></li>
                            <li id="coin_info_price"></li>
                            <li id="coin_info_marketcap"></li>
                            <li id="coin_info_ath"></li>
                            <li id="coin_info_atl"></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <br> <br> <br> <br>
                            <li id="coin_info_ath_date"></li>
                            <li id="coin_info_atl_date"></li>
                        </ul>
                    </div>
                </div>
                <div class="row" id="coin_description_box">
                    <h4>Description</h4>
                    <div id="coin_info_description" class="scrollbar scrollbar-primary"> </div>
                </div>
            </div>
        </div>
<!-- SOCIALS  -->
        <div class="row">
            <div class="col" id="twitter_block">
                <h3>Twitter</h3>
                <div id="twitter_channel"> </div>
            </div>

<!-- NOTE  -->
            <div class="col-5" id="coin_note_block">
                <h3> Coin Note</h3> 
                <p id="coin_note_field"> None </p>   
                
                <span style="display: inline-block;">
                    <form action="{% url 'index' %}" method="POST">
                        {% csrf_token %}
                        <input class="form-control" type="text" name="coin_note" placeholder="Write a note">
                        <br>
                        <button class="btn btn-sm btn-info" value="" id="add_note_button" name="add_note_button">Add Note</button>
                    </form>
                </span>
                <span style="display: inline-block;">
                    <form action="{% url 'index' %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-sm btn-info" value="" id="delete_note_button" name="delete_note_button">Delete Note</button>
                    </form>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- SETTINGS FIELD  -->
<div id="settings_field" class="frontfield" style="display: none">
    <h2>Settings</h2>
    
    <div id="settings_download_data">
        <button class="btn btn-sm btn-info" onClick="download_trade_data()">Generate trade data CSV</button>
    </div>
    <br>
    <input class="btn btn-info close_field" type="submit" value="close">
</div>


<!-- LOGIN FIELD -->
{% if message_login %}
    <div id="login_field" class="frontfield" style="display: block">
        {{ message_login }}
{% else %}
    <div id="login_field" class="frontfield" style="display: none">
{% endif %}
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input id="login_password_field" class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input id="login_field_button" class="btn btn-info" type="submit" value="Login">
        </form>
        <p> Don't have an account? Register <span id="register">here</span>. </p>
        
        <input class="btn btn-info close_field" type="submit" value="close">
    </div>

<!-- REGISTER FIELD-->
{% if message_register %}
    <div id="register_field" class="frontfield" style="display: block">
        {{ message_register }}
{% else %}
    <div id="register_field" class="frontfield" style="display: none">
{% endif %}
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input id="register_password_field" class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input id="register_field_button" class="btn btn-info" type="submit" value="Register">
        </form>
        <p> Already have an account? Log In <span id="login_link" class="login">here</span>. </p>
        
        <input class="btn btn-info close_field" type="submit" value="close">
    </div>

<!-- ADD-TRADE FIELD-->
<div id="addtrade_field" class="frontfield" style="display: none">
    <h2 id="addtrade_header"></h2>
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            Name: <input id="addtrade_input_name" autofocus class="form-control" type="text" name="coin_name" placeholder="Coin name" required>
        </div>
        <div class="form-group">
            Amount: <input class="form-control" type="text" name="coin_amount" placeholder="Amount" required>
        </div>
        <div class="form-group">
            Price in $: <input id="addtrade_input_price" class="form-control" type="text" name="coin_price" placeholder="Amount" required>
        </div>
        <div class="form-group">
            SELL
            <label class="switch">
                <input type="checkbox" name="trade_type" checked>
                <span class="slider round"></span>
              </label>
            BUY
        </div>
        <div class="d-flex justify-content-around">
            <input class="btn btn-info" type="submit" value="Add trade" name="add_trade">
            <input class="btn btn-info close_field" type="submit" value="close">
        </div>
    </form>
</div>  
<div id="footer">
    
</div>

{% endblock %}

{% block script %}

<!-- check if user logged in  -->
{% if user.is_authenticated %}
    <script>
        var user_signed_in = true;
    </script>
{% else %} 
    <script>
        var user_signed_in = false;
    </script>
{% endif %}

<script> 
    var trade_history_data = JSON.parse("{{trade_data_JSON|escapejs}}"); 
    var notes_data = JSON.parse("{{notes_data_JSON|escapejs}}"); 
</script>
<script src="{% static 'index.js' %}"></script>
{% endblock %}
