{% extends "cryptofolio/layout.html" %}
{% load static %}

{% block title %}
BitcoinTitle
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
            </li>
          </ul>
    </div>
</div>

<div class="row">
    <div class="col-3">
      
        <form>
            <input id="search_value" placeholder = "New Task" type="text">
            <input id="submit" type="submit">
        </form>

        <ul id="coin_list">
            
        </ul>

    </div>

    <div class="col-9">
        <div class="row">
            <div class="col-6">
                <h2>Graph</h2>
            </div>

            <div class="col-6">
                <h2>General info</h2>
                <ul>
                    <li id="coin_info_name"></li>
                    <li id="coin_info_ticker"></li>
                    <li id="coin_info_price"></li>
                    <li id="coin_info_marketcap"></li>
                    <li id="coin_info_atl"></li>
                    <li id="coin_info_ath"></li>
                </ul>
            </div>

            <div class="col-6">
                <h2>Social Media</h2>
                <div class="row">
                    <div class="col-6">
                        <h3>Twitter</h3>
                    </div>

                    <div class="col-6">
                        <h3>Telegram</h3>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <h2>Google trends</h2>
            </div>
        </div>


    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'index.js' %}"></script>
{% endblock %}
