{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link id="favicon" rel="icon" type="image/png" href= "">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="nav justify-content-end">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <button class="btn btn-sm btn-outline-primary" id="settings">Settings</button>
                            </li>
               
                            <form action="{% url 'index' %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-outline-primary" id="logout" name="logout">Log-Out</button>
                            </form>

                        {% else %}
                            <li class="nav-item">
                                <button class="btn btn-sm btn-outline-primary  login">Log-in</button>
                            </li>
                        {% endif %}                       
                    </ul>
                </div>
            </div>
            
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}



        
            {% block body %}
            {% endblock %}
        </div>
      <h2>{{ HELPMESSAGE }}</h2>
    </body>
    {% block script %}

    {% endblock %}
</html>