.row {
    border: 1px solid blue;
}

.frontfield {

    width: 40%;
    height: 60%;
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid rgb(48, 110, 245);
    background-color: rgb(172, 233, 235);
   
    z-index: 999;
}

span {
    color: rgb(45, 45, 231);
}

#google_trends {
    height: 400px;
    background-color: darkkhaki;
}

#twitter_channel {
    height: 400px;
}