h2 {
  font-size: large;
  color: rgb(255, 255, 255);
}

ul, li { 
  margin: 0;
  padding: 0; 
  list-style-type: none
}

.col-3 {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

/* POP-UP SCREENS */
/* Add trade  */
  .frontfield {
    width: 600px;
    height: 400px;
    padding: 30px 40px 10px 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(53, 169, 180, 0.562);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(53, 169, 180, 0.555), 0 6px 20px 0 rgba(118, 116, 141, 0.281); 
    z-index: 999;
  }


/* NAVBAR */
#navbar_left {
  height: 60px;
  background-color: rgb(53, 169, 180);
}
#navbar_middle {
  height: 60px;
  padding-left: 5px;
  background-color: rgb(255, 255, 255);
  color: rgba(53, 64, 82, 0.89);
}

#coin_page_name {
  text-transform: uppercase;
  color: rgb(53, 169, 180);
}

#navbar_right {
  height: 60px;
  background-color: rgb(255, 255, 255);
}
#signed_in {
  margin-right: 50px;
}

h1 {
  font-size: xx-large;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.nav_button {
  margin: 0 5px;
  height: 30px;
  width: 80px;
}



/* LEFT SIDEBAR  */
#left_sidebar {
  padding: 10px 1% 30px 1%;
  background-color: rgb(53, 64, 82);
  border-right: 1px solid rgb(53, 169, 180);
  }
/* search  */
  #search_block {
    margin-bottom: 20px;
  }

   /* trending  */
  #trending_coins {
    margin-bottom: 20px;
  }
  .trending_coin_button {
    margin: 2px;
    height: 30px;
    display: block;

    text-transform: capitalize;
    font-size: medium;
    font-weight: 600;
    text-align: center;
    
    background-color: rgba(102, 205, 171, 0);; 
    border: rgba(102, 205, 171, 0);
    color: rgb(165, 174, 189);
  } 

  /* portfolio  */
  #portfolio_overview_table {
    margin-bottom: 20px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(131, 131, 160, 0.555), 0 6px 20px 0 rgba(118, 116, 141, 0.281);
    
  }

  #portfolio_overview_table_header {
    margin: 0;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
  }

  .portfolio_coin {
    width: 90%;
    height: 30px;
    border: none;

    background-color: rgba(236, 236, 236, 0);
    
    color: rgb(26, 26, 26); 
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
  }

   .portfolio_coin_amount, .portfolio_coin_price, .portfolio_coin_total_value {
    padding-top: 4px;
    height: 30px;
    font-size: 14px;
  }

  /* portfolio chart  */
  #portfolio_chart_data {
    margin: 20px 0 20px 0;
    }

  #portfolio_chart_data p {
    color: rgb(165, 174, 189);
  }

  #portfolio_chart {
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(118, 116, 141, 0.555), 0 6px 20px 0 rgba(118, 116, 141, 0.281);
  }

  #portfolio_chart_timeframe_buttons {
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: center;
  }
  .portfolio_chart_timeframe_button {
    margin: 0px 4px;
  }
  /* Trade history  */
  #trade_history_block {
    padding: 2px 0 10px 10px;
    max-height: 150px;
    overflow-y: scroll;

    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(118, 116, 141, 0.555), 0 6px 20px 0 rgba(118, 116, 141, 0.281);
  }
  .trade_history_collumn{
    margin-bottom: 10px;
  }
  #trade_history_header {
    margin-bottom: 1px;
    font-weight: 500;
  }
  .trade_history_overview_data {
    text-transform: capitalize;
    font-size: 12px;
  }


 
 
/* MIDDLE BAR  */
  #right_sidebar {
    padding-top: 10px;
    background-color: rgb(237, 242, 246);
  }

  #coin_chart_block {
    margin-right: 5px;
    padding: 3px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(53, 169, 180, 0.555), 0 6px 20px 0 rgba(118, 116, 141, 0.281);
  }
 
  #coin_chart {
    height: 430px ;
  }
  #coin_chart_timeframe_buttons {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  
  }
  .coin_chart_timeframe_button {
    margin: 0px 7px;
    width: 60px;
  }

  /* socials  */
  #twitter_block {
    margin: 10px 5px 0 0;
    padding: 20px 50px;
    height: 800px;

    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(53, 169, 180, 0.555), 0 6px 20px 0 rgba(118, 116, 141, 0.281);
  }

  #twitter_channel {
    height: 700px;
    overflow-y: scroll;
    border: 1px solid rgba(53, 169, 180, 0.562);
    border-radius: 3px;
  }


/* RIGHT SIDEBAR */
/* general info  */
  #coin_data_block {
    margin-left: 5px;
    padding: 3px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(53, 169, 180, 0.555), 0 6px 20px 0 rgba(118, 116, 141, 0.281);
  }
  #coin_image_div {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #coin_image {
    height: 70px;
  }

  #add_trade, #portfolio_button {
    font-size: 12px;
    height: 30px;
    margin: 4px 0 0 10px; 
    display: inline-block; 
  } 

  #coin_info_heads li {
    font-weight: 600;
  }
    
  #coin_info_name {
    text-transform: capitalize;
  }
  #coin_info_ticker {
    text-transform: uppercase;
  }
  #coin_info_atl_date, #coin_info_ath_date {
    line-height: 1.8;
    font-size: small;
    font-style: italic;
  }

  #coin_description_box {
    max-height: 320px;
    margin: 3%;
  }
  #coin_info_description {
    padding: 10px;
    margin: 0 5px;
    max-height: 280px;
    overflow-y: scroll;
    border: 1px solid rgba(53, 169, 180, 0.562);
    border-radius: 3px;
  }

/* Note block */
  #coin_note_block {
    margin: 10px 0 0 5px;
    padding: 20px 30px;
    height: 800px;

    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(53, 169, 180, 0.555), 0 6px 20px 0 rgba(118, 116, 141, 0.281); 
  }

  #coin_note_field {
    padding: 5px;
    border: 1px solid rgba(53, 169, 180, 0.562);
    border-radius: 3px;
  }


/* GENERAL  */
  /* scrollbar  */
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(53, 169, 180, 0.4);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(53, 169, 180, 0.8)
  }

/* ////////////////////////////////// */
/* SLIDER
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
  
  /* Hide default HTML checkbox */
  .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
  
  /* The slider */
  .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(250, 6, 6);
  -webkit-transition: .4s;
  transition: .4s;
}
  
  .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
  
  input:checked + .slider {
  background-color: #02a31d;
}
  
  input:focus + .slider {
  box-shadow: 0 0 1px #02a31d;
}
  
  input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
  
  /* Rounded sliders */
  .slider.round {
  border-radius: 34px;
}
  
  .slider.round:before {
  border-radius: 50%;
} 